<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Flor</title>
</head>
<body>
<h1>Editar Flor</h1>
<form action="#" th:action="@{/flores/actualizar/{id}(id=${flor.id})}" th:object="${flor}" method="post">
    
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required /><br/>

    <label>Tipo:</label>
    <input type="text" th:field="*{tipo}" required /><br/>

    <label>Color:</label>
    <input type="text" th:field="*{color}" required /><br/>

    <label>Precio:</label>
    <input type="number" th:field="*{precio}" step="0.01" required /><br/>

    <label>Precio Compra:</label>
    <input type="number" th:field="*{precioCompra}" step="0.01" required /><br/>

    <label>Precio Venta:</label>
    <input type="number" th:field="*{precioVenta}" step="0.01" required /><br/>

    <label>Stock:</label>
    <input type="number" th:field="*{stock}" required /><br/>

    <button type="submit">Actualizar</button>
</form>
</body>
</html>